<div class="mt-4 container text-center">
    <%= render 'shared/errors', obj: @tag%>
        <%= form_for @tag do |t| %>
            <div class="form-group row">
                <div class="control-label col-lg-3">
                    <%= t.label :Name %>
                </div>
                <div class="col-lg-6">
                <%= t.text_field :name, class:"form-control", placeholder:"Enter tag name", autofocus: true %>
                </div>
            </div>
                
            <div class="form-group row">
                <div class="control-label col-lg-3">
                    <%= t.label :Albums %>
                </div>
                <div class="col-lg-6">
                    <%= t.collection_check_boxes :album_ids, current_user.albums, :id, :title do |cb| %>
                        <% cb.label(class: "checkbox-inline input-checkbox mr-3") {cb.check_box(class: "checkbox mr-1") + cb.text} %>
                    <%end%>
                </div>
            </div>
  
            <%= link_to 'CANCEL', tags_path, class:'btn btn-danger btn-md mr-3'%>
            <%= t.submit(@tag.new_record? ? "SUBMIT" : "UPDTAE", class:'btn btn-success btn-md')%>
        <% end %>
</div>