<% if signed_in? %>
    <div class="container text-center">
        <span class="dashhead ml-3"> TAG : <%= @tag.name %></span>
        <%= link_to "Edit TAG Name", edit_tag_path(@tag), class:"btn btn-info float-right mr-1"%>
    </div>
<% end %>
<br/>
<div class="container">
    <% @tag_albums.each do |album| %>
        <div class="float-left p-3">
            <div class="card text-center border-secondary" style="width:245px ; height:200px">
                <div class="card-title border border-bottom-3 p-2">
                    <%=link_to album.title, album_path(album)%>
                </div>
                <div class="card-body">
                    <%=album.description%>
                    <br/>
                    <small class="text-danger">Tags :
                        <% for tag in album.tags%>
                            <%=link_to tag.name, tag_path(tag) %>
                        <%end%>
                    </small>
                </div>
            </div>
        </div>
    <%end%>
</div>
